<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/build/css/app.css">
    <title>Bienes Raices</title>
</head>
<body>
    <header class="header">
        <div class="header__content container">
            <div class="container--bar">
                <div class="menu">

                    <a href="/">
                        <img class="menu__logo" loading="lazy" src="/build/img/logo.svg" alt="Logotipo de Bienes Raices">
                    </a>
    
                    <div class="menu__bar">
                        <img src="/build/img/barras.svg" alt="menu responsive">
                    </div>
                </div>

                <nav class="navbar">
                    <a href="/views/nosotros.html">Nosotros</a>
                    <a href="/views/anuncios.html">Anuncios</a>
                    <a href="/views/blog.html">Blog</a>
                    <a href="/views/contacto.html">Contacto</a>
                    <div class="dark-mode">
                        <img src="/build/img/dark-mode.svg" alt="darkmode">
                    </div>
                </nav>

            </div> <!--.container--bar-->
        </div>
    </header>

    <main class="container seccion">
        <h1>Casas y Departamentos</h1>
        <div class="propiedades">
            <div class="propiedades__cards">
                <div class="propiedades__card">

                    <picture>
                        <source srcset="/build/img/anuncio1.webp" type="image/webp">
                        <source srcset="/build/img/anuncio1.jpg" type="image/jpeg">
                        <img loading="lazy" src="/build/img/anuncio1.jpg" alt="Anuncio1">
                    </picture>

                    <div class="propiedades__content">
                        <h3 class="propiedades__title" >Casa de Lujo en el Lago</h3>
                        <p class="propiedades__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, dignissimos.</p>
                        <p class="propiedades__price">$3,0000,000</p>

                        <ul class="iconos-propiedades">
                            <li class="iconos-propiedades__content">
                                <img src="/build/img/icono_wc.svg" alt="Baños">
                                <p>3</p>
                            </li>
                            <li class="iconos-propiedades__content">
                                <img src="/build/img/icono_estacionamiento.svg" alt="Estacionamientos">
                                <p>3</p>
                            </li>
                            <li class="iconos-propiedades__content">
                                <img src="/build/img/icono_dormitorio.svg" alt="Dormitorios">
                                <p>4</p>
                            </li>
                            
                        </ul>
                        <a href="/views/anuncio.html" class="boton--amarillo d-block text-uppercase">ver propiedad</a>
                    </div> <!--.propiedades__content-->
                </div> <!--.propiedades__card-->

                <div class="propiedades__card">

                    <picture>
                        <source srcset="/build/img/anuncio2.webp" type="image/webp">
                        <source srcset="/build/img/anuncio2.jpg" type="image/jpeg">
                        <img loading="lazy" src="/build/img/anuncio2.jpg" alt="Anuncio2">
                    </picture>

                    <div class="propiedades__content">
                        <h3 class="propiedades__title" >Casa Terminados de Lujo</h3>
                        <p class="propiedades__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, dignissimos.</p>
                        <p class="propiedades__price">$3,0000,000</p>

                        <ul class="iconos-propiedades">
                            <li class="iconos-propiedades__content">
                                <img src="/build/img/icono_wc.svg" alt="Baños">
                                <p>3</p>
                            </li>
                            <li class="iconos-propiedades__content">
                                <img src="/build/img/icono_estacionamiento.svg" alt="Estacionamientos">
                                <p>3</p>
                            </li>
                            <li class="iconos-propiedades__content">
                                <img src="/build/img/icono_dormitorio.svg" alt="Dormitorios">
                                <p>4</p>
                            </li>
                            
                        </ul>
                        <a href="/views/anuncio.html" class="boton--amarillo d-block text-uppercase">ver propiedad</a>
                    </div> <!--.propiedades__content-->
                </div> <!--.propiedades__card-->

                <div class="propiedades__card">

                    <picture>
                        <source srcset="/build/img/anuncio3.webp" type="image/webp">
                        <source srcset="/build/img/anuncio3.jpg" type="image/jpeg">
                        <img loading="lazy" src="/build/img/anuncio3.jpg" alt="Anuncio3">
                    </picture>

                    <div class="propiedades__content">
                        <h3 class="propiedades__title" >Casa de Lujo con Alberca</h3>
                        <p class="propiedades__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, dignissimos.</p>
                        <p class="propiedades__price">$3,0000,000</p>

                        <ul class="iconos-propiedades">
                            <li class="iconos-propiedades__content">
                                <img src="/build/img/icono_wc.svg" alt="Baños">
                                <p>3</p>
                            </li>
                            <li class="iconos-propiedades__content">
                                <img src="/build/img/icono_estacionamiento.svg" alt="Estacionamientos">
                                <p>3</p>
                            </li>
                            <li class="iconos-propiedades__content">
                                <img src="/build/img/icono_dormitorio.svg" alt="Dormitorios">
                                <p>4</p>
                            </li>
                            
                        </ul>
                        <a href="/views/anuncio.html" class="boton--amarillo d-block text-uppercase">ver propiedad</a>
                    </div> <!--.propiedades__content-->
                </div> <!--.propiedades__card-->
                <div class="propiedades__card">

                    <picture>
                        <source srcset="/build/img/anuncio4.webp" type="image/webp">
                        <source srcset="/build/img/anuncio4.jpg" type="image/jpeg">
                        <img loading="lazy" src="/build/img/anuncio4.jpg" alt="Anuncio4">
                    </picture>

                    <div class="propiedades__content">
                        <h3 class="propiedades__title" >Casa de Lujo con Alberca</h3>
                        <p class="propiedades__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, dignissimos.</p>
                        <p class="propiedades__price">$3,0000,000</p>

                        <ul class="iconos-propiedades">
                            <li class="iconos-propiedades__content">
                                <img src="/build/img/icono_wc.svg" alt="Baños">
                                <p>3</p>
                            </li>
                            <li class="iconos-propiedades__content">
                                <img src="/build/img/icono_estacionamiento.svg" alt="Estacionamientos">
                                <p>3</p>
                            </li>
                            <li class="iconos-propiedades__content">
                                <img src="/build/img/icono_dormitorio.svg" alt="Dormitorios">
                                <p>4</p>
                            </li>
                            
                        </ul>
                        <a href="/views/anuncio.html" class="boton--amarillo d-block text-uppercase">ver propiedad</a>
                    </div> <!--.propiedades__content-->
                </div> <!--.propiedades__card-->
                <div class="propiedades__card">

                    <picture>
                        <source srcset="/build/img/anuncio5.webp" type="image/webp">
                        <source srcset="/build/img/anuncio5.jpg" type="image/jpeg">
                        <img loading="lazy" src="/build/img/anuncio5.jpg" alt="Anuncio5">
                    </picture>

                    <div class="propiedades__content">
                        <h3 class="propiedades__title" >Casa de Lujo con Alberca</h3>
                        <p class="propiedades__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, dignissimos.</p>
                        <p class="propiedades__price">$3,0000,000</p>

                        <ul class="iconos-propiedades">
                            <li class="iconos-propiedades__content">
                                <img src="/build/img/icono_wc.svg" alt="Baños">
                                <p>3</p>
                            </li>
                            <li class="iconos-propiedades__content">
                                <img src="/build/img/icono_estacionamiento.svg" alt="Estacionamientos">
                                <p>3</p>
                            </li>
                            <li class="iconos-propiedades__content">
                                <img src="/build/img/icono_dormitorio.svg" alt="Dormitorios">
                                <p>4</p>
                            </li>
                            
                        </ul>
                        <a href="/views/anuncio.html" class="boton--amarillo d-block text-uppercase">ver propiedad</a>
                    </div> <!--.propiedades__content-->
                </div> <!--.propiedades__card-->
                <div class="propiedades__card">

                    <picture>
                        <source srcset="/build/img/anuncio6.webp" type="image/webp">
                        <source srcset="/build/img/anuncio6.jpg" type="image/jpeg">
                        <img loading="lazy" src="/build/img/anuncio6.jpg" alt="Anuncio6">
                    </picture>

                    <div class="propiedades__content">
                        <h3 class="propiedades__title" >Casa de Lujo con Alberca</h3>
                        <p class="propiedades__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, dignissimos.</p>
                        <p class="propiedades__price">$3,0000,000</p>

                        <ul class="iconos-propiedades">
                            <li class="iconos-propiedades__content">
                                <img src="/build/img/icono_wc.svg" alt="Baños">
                                <p>3</p>
                            </li>
                            <li class="iconos-propiedades__content">
                                <img src="/build/img/icono_estacionamiento.svg" alt="Estacionamientos">
                                <p>3</p>
                            </li>
                            <li class="iconos-propiedades__content">
                                <img src="/build/img/icono_dormitorio.svg" alt="Dormitorios">
                                <p>4</p>
                            </li>
                            
                        </ul>
                        <a href="/views/anuncio.html" class="boton--amarillo d-block text-uppercase">ver propiedad</a>
                    </div> <!--.propiedades__content-->
                </div> <!--.propiedades__card-->
            </div> <!--.propiedades__cards-->
        </div> <!--.propiedades-->
    </main>

    <footer class="footer seccion">
        <div class="container footer__content">
            <nav class="navbar--footer">
                <a class="" href="/views/nosotros.html">Nosotros</a>
                <a class="active" href="/views/anuncios.html">Anuncios</a>
                <a class="" href="/views/blog.html">Blog</a>
                <a class="" href="/views/contacto.html">Contacto</a>
            </nav>
        </div>
        <p class="copyright">Todos los Derechos Reversados 2026 &copy;</p>
    </footer>

    <script src="/build/js/bundle.min.js"></script>
</body>
</html>