<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/build/css/app.css">
    <title>Bienes Raices</title>
</head>
<body>
    <header class="header">
        <div class="header__content container">
            <div class="container--bar">
                <a href="/">
                    <img src="/build/img/logo.svg" alt="Logotipo de Bienes Raices">
                </a>

                <nav class="navbar">
                    <a href="/views/nosotros.html">Nosotros</a>
                    <a href="/views/anuncios.html">Anuncios</a>
                    <a href="/views/blog.html">Blog</a>
                    <a href="/views/contacto.html">Contacto</a>
                </nav>

            </div> <!--.container--bar-->
        </div>
    </header>

    <main class="container seccion contenido-centrado">
        <h1>Casa Frente al Bosque</h1>
        <div class="info-propiedad">

                    <picture>
                        <source srcset="/build/img/destacada.webp" type="image/webp">
                        <source srcset="/build/img/destacada.jpg" type="image/jpeg">
                        <img loading="lazy" src="/build/img/destacada.jpg" alt="destacada">
                    </picture>

                    <div class="propiedades__content">
                        <p class="propiedades__price">$3,0000,000</p>

                        <ul class="iconos-propiedades">
                            <li class="iconos-propiedades__content">
                                <img src="/build/img/icono_wc.svg" alt="Baños">
                                <p>3</p>
                            </li>
                            <li class="iconos-propiedades__content">
                                <img src="/build/img/icono_estacionamiento.svg" alt="Estacionamientos">
                                <p>3</p>
                            </li>
                            <li class="iconos-propiedades__content">
                                <img src="/build/img/icono_dormitorio.svg" alt="Dormitorios">
                                <p>4</p>
                            </li>
                            
                        </ul>
                        <p>Proin consequat viverra sapien, malesuada tempor tortor feugiat vitae. In dictum felis et nunc aliquet molestie. Proin tristique commodo felis, sed auctor elit auctor pulvinar. Nunc porta, nibh quis convallis sollicitudin, arcu nisl semper mi, vitae sagittis lorem dolor non risus. Vivamus accumsan maximus est, eu mollis mi. Proin id nisl vel odio semper hendrerit. Nunc porta in justo finibus tempor. Suspendisse lobortis dolor quis elit suscipit molestie. Sed condimentum, erat at tempor finibus, urna nisi fermentum est, a dignissim nisi libero vel est. Donec et imperdiet augue. Curabitur malesuada sodales congue. Suspendisse potenti. Ut sit amet convallis nisi.</p>
                        <p>Aliquam lectus magna, luctus vel gravida nec, iaculis ut augue. Praesent ac enim lorem. Quisque ac dignissim sem, non condimentum orci. Morbi a iaculis neque, ac euismod felis. Fusce augue quam, fermentum sed turpis nec, hendrerit dapibus ante. Cras mattis laoreet nibh, quis tincidunt odio fermentum vel. Nulla facilisi.</p>
                        <a href="/views/contacto.html" class="boton--amarillo d-inline text-uppercase">comprar ahora</a>
                    </div> <!--.propiedades__content-->
                </div> <!--.propiedades__card-->
    </main>

    <footer class="footer seccion">
        <div class="container footer__content">
            <nav class="navbar">
                <a href="/views/nosotros.html">Nosotros</a>
                <a href="/views/anuncios.html">Anuncios</a>
                <a href="/views/blog.html">Blog</a>
                <a href="/views/contacto.html">Contacto</a>
            </nav>
        </div>
        <p class="copyright">Todos los Derechos Reversados 2026 &copy;</p>
    </footer>

    <script src="/build/js/bundle.min.js"></script>
</body>
</html>