<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/build/css/app.css">
    <title>Bienes Raices</title>
</head>
<body>
    <header class="header">
        <div class="header__content container">
            <div class="container--bar">
                <div class="menu">

                    <a href="/">
                        <img class="menu__logo" loading="lazy" src="/build/img/logo.svg" alt="Logotipo de Bienes Raices">
                    </a>
    
                    <div class="menu__bar">
                        <img src="/build/img/barras.svg" alt="menu responsive">
                    </div>
                </div>

                <nav class="navbar">
                    <a href="/views/nosotros.html">Nosotros</a>
                    <a href="/views/anuncios.html">Anuncios</a>
                    <a href="/views/blog.html">Blog</a>
                    <a href="/views/contacto.html">Contacto</a>
                    <div class="dark-mode">
                        <img src="/build/img/dark-mode.svg" alt="darkmode">
                    </div>
                </nav>

            </div> <!--.container--bar-->
        </div>
    </header>

    <main class="container seccion contenido-centrado">
        <h1>Contacto</h1>

        <picture>
            <source srcset="/build/img/destacada3.webp" type="image/webp">
            <source srcset="/build/img/destacada3.jpg" type="image/jpeg">
            <img src="/build/img/destacada3.jpg" alt="Imagen Contacto">
        </picture>
        
        <div>
            <h2>Llene el Formulario de Contacto</h2>

            <form action="" class="formulario">

                <fieldset>

                    <legend>Información Personal</legend>

                    <div class="nombres">
                        <div>
                            <label for="nombre">nombre:</label>
                            <input type="text" id="nombre" placeholder="Tu Nombre">

                        </div>
                        <div>
                            <label for="apellido">apellido:</label>
                            <input type="text" id="apellido" placeholder="Tu Apellido">

                        </div>
                    </div>

                    <label for="email">email:</label>
                    <input type="email" id="email" placeholder="Tu Email">

                    <div class="areas">
                        <div>
                            <label for="areas">Area:</label>
                            <select name="areas" id="areas">
                                <option value="" disabled >-- Seleccionar --</option>
                                <option value="+58" selected >+58</option>
                                <option value="+1">+1</option>
                            </select>
                        </div>
                        <div>
                            <label for="telefono">telefono:</label>
                            <input type="tel" id="telefono" placeholder="Tu Telefono">

                        </div>
                    </div>
                    <label for="telefono">telefono:</label>
                    <input type="tel" id="telefono" placeholder="Tu Telefono">

                    <label for="mensaje">Mensaje:</label>
                    <textarea name="mensaje" id="mensaje"></textarea>

                </fieldset>

                <fieldset>

                    <legend>Información Sobre la propiedad</legend>


                    <label for="opciones">VENDER O COMPRAR:</label>
                    <select name="opciones" id="opciones">
                        <option value="" selected disabled >-- Seleccionar --</option>
                        <option value="compra">Comprar</option>
                        <option value="compra">Vender</option>
                    </select>

                    <label for="presupuesto">Precio o Presupuesto:</label>
                    <input type="number" id="presupuesto" placeholder="Precio o Presupuesto" min="0">


                </fieldset>

                <fieldset>

                    <legend>Formas de Contacto</legend>

                    <p>Como desea ser contactado:</p>
                    <div class="contactos">
                        <label for="contactar-telefono">llamada</label>
                        <input type="radio" name="contactar" id="contactar-telefono" value="telefono">
                        <label for="contactar-email">Email</label>
                        <input type="radio" name="contactar" id="contactar-email" value="email">
                        <label for="contactar-whatsapp">whatsapp</label>
                        <input type="radio" name="contactar" id="contactar-whatsapp" value="whatsapp">

                    </div>
                
                    <p>Si eligió teléfono, elija la fecha y la hora:</p>
                    <label for="fecha">fecha:</label>
                    <input type="date" id="fecha">

                    <label for="hora">hora:</label>
                    <input type="time" id="hora">


                </fieldset>

                <input type="submit" class="boton--verde text-uppercase" value="Enviar">
            </form>

        </div>

    </main>

    <footer class="footer seccion">
        <div class="container footer__content">
            <nav class="navbar--footer">
                <a class="" href="/views/nosotros.html">Nosotros</a>
                <a class="" href="/views/anuncios.html">Anuncios</a>
                <a class="" href="/views/blog.html">Blog</a>
                <a class="active" href="/views/contacto.html">Contacto</a>
            </nav>
        </div>
        <p class="copyright">Todos los Derechos Reversados 2026 &copy;</p>
    </footer>

    <script src="/build/js/bundle.min.js"></script>
</body>
</html>