<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/build/css/app.css">
    <title>Bienes Raices</title>
</head>
<body>
    <header class="header">
        <div class="header__content container">
            <div class="container--bar">
                <a href="/">
                    <img src="/build/img/logo.svg" alt="Logotipo de Bienes Raices">
                </a>

                <nav class="navbar">
                    <a class="active" href="/views/nosotros.html">Nosotros</a>
                    <a class="" href="/views/anuncios.html">Anuncios</a>
                    <a class=""href="/views/blog.html">Blog</a>
                    <a class="" href="/views/contacto.html">Contacto</a>
                </nav>

            </div> <!--.container--bar-->
        </div>
    </header>

    <main class="container seccion">
        <h1>Nosotros</h1>
    </main>

    <footer class="footer seccion">
        <div class="container footer__content">
            <nav class="navbar">
                <a class="active" href="/views/nosotros.html">Nosotros</a>
                <a class="" href="/views/anuncios.html">Anuncios</a>
                <a class=""href="/views/blog.html">Blog</a>
                <a class="" href="/views/contacto.html">Contacto</a>
            </nav>
        </div>
        <p class="copyright">Todos los Derechos Reversados 2026 &copy;</p>
    </footer>

    <script src="/build/js/bundle.min.js"></script>
</body>
</html>