<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/build/css/app.css">
    <title>Bienes Raices</title>
</head>
<body>
    <header class="header">
        <div class="header__content container">
            <div class="container--bar">
                <div class="menu">

                    <a href="/">
                        <img class="menu__logo" loading="lazy" src="/build/img/logo.svg" alt="Logotipo de Bienes Raices">
                    </a>
    
                    <div class="menu__bar">
                        <img src="/build/img/barras.svg" alt="menu responsive">
                    </div>
                </div>

                <nav class="navbar">
                    <a href="/views/nosotros.html">Nosotros</a>
                    <a href="/views/anuncios.html">Anuncios</a>
                    <a href="/views/blog.html">Blog</a>
                    <a href="/views/contacto.html">Contacto</a>
                    <div class="dark-mode">
                        <img src="/build/img/dark-mode.svg" alt="darkmode">
                    </div>
                </nav>

            </div> <!--.container--bar-->
        </div>
    </header>

    <main class="container seccion">
        <h1>Titulo Pagina</h1>
    </main>

    <footer class="footer seccion">
        <div class="container footer__content">
            <nav class="navbar--footer">
                <a href="/views/nosotros.html">Nosotros</a>
                <a href="/views/anuncios.html">Anuncios</a>
                <a href="/views/blog.html">Blog</a>
                <a href="/views/contacto.html">Contacto</a>
            </nav>
        </div>
        <p class="copyright">Todos los Derechos Reversados 2026 &copy;</p>
    </footer>

    <script src="/build/js/bundle.min.js"></script>
</body>
</html>