@use 'base/variables' as v;
@use 'base/mixins' as m;

.no-webp .landing {
    background-image: url('/build/img/header.jpg');
}

.webp .landing {
    background-image: url('/build/img/header.webp');
}

.landing {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.header {
    background-color: v.$gris_oscuro;
    padding: 1rem 0;

    &.landing {

        .header__content {
            & {
                @include m.tablet {
                    min-height: 65rem;
                }
            }
        }        
    }


    .header__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    
        
    
        h1 {
            margin: 0 2rem;
            text-align: left;
            color: v.$blanco;
            font-weight: v.$bold;
            line-height: 2;
            max-width: 60rem;
        }
    }
}
