.no-webp .imagen-contactar {
    background-image: url('/build/img/encuentra.jpg');
}

.webp .imagen-contactar {
    background-image: url('/build/img/encuentra.webp');
}

.imagen-contactar {

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    min-height: 40rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .contactar__title {
        font-size: 4rem;
    }
}